<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- name, id 둘다 가능 -->
    <form name="myform" id="myform">
        <h3>
            <%=title%>
        </h3>
        <table>
            <thead>
                <tr>
                    <td>번호</td>
                    <td>제목</td>
                    <td>작가</td>
                    <td>날짜</td>
                </tr>
            </thead>
            <tbody>
                <%for(guestbook of guestbookList){%>
                    <tr>
                        <td>
                            <%=guestbook.id%>
                        </td>
                        <td>
                            <a href='/view/<%=guestbook.id%>'>
                                <%=guestbook.title%>
                            </a>
                        </td>
                        <td>
                            <%=guestbook.writer%>
                        </td>
                        <td>
                            <%=guestbook.wdate%>
                        </td>
                    </tr>

                    <%}%>
            </tbody>
        </table>
        <br><br>

        <button type="button" onclick="goWrite()">글쓰기</button>
    </form>
</body>

</html>

<script>
    function goWrite() {
        // const frm = document.myform;
        const frm = document.querySelector('#myform');

        frm.action = '/write';
        frm.method = 'get';
        frm.submit(); //서버로 정보전송
    }
</script>