<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <a href="/board/list/1">
    <p>Welcome to <%= title %>
  </a>
  </p>
  <%if(!userinfo.userid) {%>
    <p>
      <a href="/member/logon">로그온</a>
      <a href="/member/register">회원가입</a>
    </p>
    <%} else{%>
      <p>
        <%=userinfo.userid%>
      </p>
      <p>
        <%=userinfo.username%>
      </p>
      <p>
        <%=userinfo.email%>
      </p>
      <p>
        <a href="/member/logout">로그아웃</a>
      </p>
      <%}%>
</body>

</html>